.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;

}

.footer-content{
    width: 100% ;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;

}

.footer-content-right, .footer-content-left, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.footer-content-right li, .footer-content-left li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-right h2,  .footer-content-center h2{
    color: white;
}

.footer-social-items img{
    width: 40px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin:20px 0;
    background-color: grey;
    border: none;
}

@media (max-width: 1050px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }
    .footer-content-right, .footer-content-left, .footer-content-center {
        align-items: center;
    }
}

/* For screens up to 900px */
@media (max-width: 900px) {
    .footer {
        padding: 20px 4vw;
        padding-top: 60px;
    }
    .footer-content {
        gap: 30px;
    }
}

/* For screens up to 750px */
@media (max-width: 750px) {
    .footer-content {
        gap: 20px;
    }
    .footer-content-right, .footer-content-left, .footer-content-center {
        align-items: center;
    }
    .footer-social-items img {
        width: 35px;
        margin-right: 10px;
    }
}

/* For screens up to 500px */
@media (max-width: 500px) {
    .footer-content {
        gap: 15px;
    }
    .footer {
        padding: 20px 2vw;
        padding-top: 40px;
    }
    .footer-social-items img {
        width: 30px;
        margin-right: 5px;
    }
}